.request-table {
  display: table;
  width: 100%;
  border-top: 1px solid #000000;
  font-size: 14px;
  margin-bottom: 30px;

  a {
    color: #000000;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }

  &.inactive {
    border-top: none;

    .request > * {
      border-bottom: none;
    }

    .toggle {
      opacity: .25;
    }
  }
}