.request {
  display: table-row;
  background: #EBEBEB;

  &:hover {
    .request__comment,
    .request__actions {
      .svg-inline--fa {
        opacity: 1;
        cursor: pointer;
      }
    }
  }

  & > * {
    display: table-cell;
    padding: 13px 15px;
    vertical-align: middle;
    border-top: 1px solid #000000;
    border-bottom: 1px solid #000000;
  }

  @mixin table-pipe {
    display: block;
    content: '';
    width: 1px;
    height: calc(100% - 24px);
    position: absolute;
    top: 12px;
    background: rgba(0, 0, 0, 0.3);
  }
  
  &__select,
  &__label,
  &__customer,
  &__tickets,
  &__price {
    position: relative;
    &:after {
      @include table-pipe;
      right: 0;
    }
  }

  &__select {
    width: 48px;
  }

  &__label {
    padding-left: 0;
    span {
      background: #C4C4C4;
      font-size: 10px;
      text-align: center;
      display: block;
      padding: 1px 3px;
    }
  }

  &__time {
    padding-right: 0;
  }

  &__arrow {
    padding: 0;
  }

  &__tickets {
    position: relative;
    &:before {
      @include table-pipe;
      left: 0;
    }

    a + a {
      margin-left: 7px;
    }
  }

  &__comment,
  &__actions {
    .svg-inline--fa {
      opacity: 0;
    }
  }

  &__comment {
    width: 44px;
  }

  &__actions {
    padding-left: 0;
    width: 20px;
  }
}

