.request-filters {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;

  &__date {
    width: 300px;
    margin-right: 15px;
  }

  &__status {
    width: 170px;
  }

  &__create {
    margin-left: auto;

   .svg-inline--fa {
      margin-right: 5px;
    }

    .btn {
      padding-left: 1.15rem;
      padding-right: 1.15rem;
    }
  }
}