.request-actions {
  display: flex;
  align-items: center;
  margin: 6px 0;

  .toggle {
    margin: 0 15px;
  }

  &__item {
    &.active .btn {
      font-weight: bold;
    }

    .btn {
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
}