.requests-top {
  display: flex;
  align-items: center;

  & + .request-table {
    margin-top: 10px;
  }

  &__date {
    margin-right: 30px;
    font-weight: bold;
  }

  &__create {
    .svg-inline--fa {
      margin-right: 5px;
    }
  }
}