.sidebar-toggle {
  padding: 0;
  position: absolute;
  left: 40px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1370px) {
    position: static;
    margin-left: calc(-.45rem - 1px);
    margin-right: 15px;
  }


  .navbar-toggler {
    padding-left: .45rem;
    padding-right: .45rem;
    border-color: transparent;

    &:hover {
      border-color: rgba(0, 0, 0, .1);
    }
  }
}