.toggle {
  background: #C4C4C4;
  line-height: 0;
  height: 18px;
  width: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  border: 1px solid #434343;
  cursor: pointer;

  &.active {
    background: #434343;
    color: #ffffff;
  }

  .fa-times {
    margin-left: 1px;
  }
}