.user {
  position: absolute;
  right: 40px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

  @media (max-width: 1370px) {
    position: static;
  }

  &__icon {
    font-size: 24px;
  }
}